.input {
  font-size: 2.5rem;
  margin: 1rem 0 1rem 0;
}

.fields {
  display: flex;
  flex-direction: column;
  margin: 1rem 10rem 0 10rem;
}

.publishButton {
  font-size: 2rem;
  display: flex;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}

.publishButton:hover {
  background-color: rgb(132, 201, 29);
}

.publishContainer {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.error {
  color: red;
  display: flex;
  font-size: 1rem;
  margin-top: 0;
  justify-content: center;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputLocation {
  font-size: 2.5rem;
  margin: 1rem 0 1rem 0;
  width: 20rem;
}

.inputPicture {
  display: flex;
  flex-direction: row;
  font-size: 2.5rem;
  margin: 1rem 0 1rem 0;
  height: 10rem;
  text-align: center;
  border: 1px solid black;
  justify-items: center;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 1rem;
  color: #787474;
  font-weight: bold;
}
