.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.header {
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  border-bottom: 1px solid;
  background-image: linear-gradient(to bottom, #343a40, #1d2124);
}

.title {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  color: rgba(247, 55, 55, 0.634);
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem 0 1rem;
}

.link {
  padding: 0rem 1rem;
  font-size: 1.25rem;
  color: #ffffff;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.8);
}
