.mainPosts {
  background-color: rgb(255, 255, 255);
  padding-top: 1rem;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding: 1rem 0 0 0;
  text-decoration-line: underline;
}

.tableBody {
  display: flex;
  justify-content: space-around;
}

.statistics {
  margin: 2rem;
  padding: 2rem;
  text-decoration: solid;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.createSection {
  height: fit-content;
}

.createButton {
  margin: 2rem;
  padding: 2rem;
  text-decoration: solid;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px;
  width: 10rem;
}

.createButton:hover {
  background-color: rgb(132, 201, 29);
  cursor: pointer;
}

.createButton:active {
  transform: translateY(4px);
  box-shadow: 2px 2px 5px;
}

.postSection {
  width: 50rem;
}

.postContainer {
  display: flex;
  flex-direction: column;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 5px rgb(0, 0, 0);
}

.pfp {
  border-radius: 5rem;
  width: 4rem;
  height: 4rem;
}

.vip {
  width: 1.1rem;
  height: 1.1rem;
}

.postTitle {
  font-size: 1.5rem;
  text-align: center;
}

.TitleAndEdit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  padding-bottom: 1rem;
}

.postImage {
  height: 100%;
  width: auto;
  max-height: 18rem;
  max-width: 46rem;
  align-self: center;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 1rem;
  object-fit: contain;
}

.CommentAndGrade {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.postComment {
  font-size: 1.5rem;
  margin: 1rem 0 0 0;
}

.postGrade {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0.5rem 0 0;
}

.edit {
  margin: 1rem 0 0 0;
  font-size: 1.5rem;
  width: 5rem;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 5px rgb(64, 64, 64);
}

.edit:hover {
  cursor: pointer;
}

.edit:active {
  box-shadow: 1px 1px 5px;
  transform: translateY(2px);
}

.postDate {
  font-weight: bold;
}

.GymAndDate {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
